@{
	Layout = "~/Views/Layout/_Layout.cshtml";
}

<div class="row">
	<div class="col col-md-8">

			<img class="card-img-top" src="https://www.mrisoftware.com/wp-content/uploads/2021/06/Fixed-Asset-Management_id-1361x1080.png"/>
	</div>
	<div class="col col-md-4">
		<div class="jumbotron">
		<div class="text-center display-4">Welcome to IT Asset Management</div>
		<hr/>
				<div class="lead">A web application where the assets like pendrive ,headphones etc are managed in an organization using this web application</div>
				<div class="lead">The technologies are ASP.net , html ,css (bootstrap), js, and  the database is MsSQL Server 2022</div>
		</div>
	</div>
</div>


