@model ItAssetManagement.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h1 class="text-center">Add User</h1>
<div class="row">
    <div class="text-end">
        <a asp-action="Index" class="btn btn-primary">Back To List</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card border-primary mb-4">
            <div class="card-header">
                @{
                    if (ViewBag.Success == 1)
                    {
                        <div class="alert alert-success" role="alert">Successfully Registered</div>
                    }
                    if (ViewBag.Fields == 1)
                    {
                        <div class="alert alert-danger" role="alert">Please Fill All The Fields</div>
                    }
                    if (ViewBag.Error == 1)
                    {
                        <div class="alert alert-danger" role="alert">Something Went Wrong Plese Try Again</div>
                    }
                    if (ViewBag.Error == 2)
                    {
                        <div class="alert alert-danger" role="alert">Email Already Registered , Use Other Email</div>
                    }
                }
            </div>
            <div class="card-body">
                <form asp-action="AddUser" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name Here" required />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email Adress Here" required />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password Here" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" type="number" class="form-control" placeholder="Phone Number Here" required />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center mt-4">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
